// =============================================================================
//
// Waybar configuration
//
// Adapted from
// https://github.com/robertjk/dotfiles/blob/253b86442dae4d07d872e8b963fa33b5f8819594/.config/waybar/config
//
// =============================================================================

{
    // -------------------------------------------------------------------------
    // Global configuration
    // -------------------------------------------------------------------------

    "layer": "top",

    "position": "top",

    // If height property would be not present, it'd be calculated dynamically
    "height": 30,

    "modules-left": [
        "sway/workspaces",
        "sway/mode"
    ],
    "modules-center": [
        "sway/window"
    ],
    "modules-right": [
        // "backlight",
        "pulseaudio",
        "network",
        "memory",
        "cpu",
        "battery",
        // "tray",
        "clock#date",
        "clock#time"
    ],


    // -------------------------------------------------------------------------
    // Modules
    // -------------------------------------------------------------------------
    // TODO(ljfranklin): re-add on laptop
    // "backlight": {
    //     "format": "{percent}% {icon}",
    //     "format-icons": ["", ""]
    // },

    "battery": {
        "interval": 10,
        "states": {
            "warning": 30,
            "critical": 15
        },
        // Connected to AC
        "format": "  {icon}  {capacity}%", // Icon: bolt
        // Not connected to AC
        "format-discharging": "{icon}  {capacity}%",
        "format-icons": [
            "", // Icon: battery-full
            "", // Icon: battery-three-quarters
            "", // Icon: battery-half
            "", // Icon: battery-quarter
            ""  // Icon: battery-empty
        ],
        "tooltip": true
    },

    "clock#time": {
        "interval": 1,
        "format": "{:%H:%M:%S}",
        "timezone": "America/New_York",
        "tooltip": false
    },

    "clock#date": {
      "interval": 10,
      "format": "  {:%e %b %Y}", // Icon: calendar-alt
      "timezone": "America/New_York",
      "tooltip-format": "{:%e %B %Y}"
    },

    "cpu": {
        "interval": 5,
        "format": " {usage:3}% ({load:2.2f})", // Icon: microchip
        "states": {
          "warning": 70,
          "critical": 90
        }
    },

    "memory": {
        "interval": 5,
        "format": " {:3}%", // Icon: memory
        "states": {
            "warning": 70,
            "critical": 90
        }
    },

    "network": {
        "interval": 5,
        "format-wifi": "  {essid} ({signalStrength}%)", // Icon: wifi
        "format-ethernet": "  {ifname}: {ipaddr}/{cidr}", // Icon: ethernet
        "format-disconnected": "⚠  Disconnected",
        "tooltip-format": "{ifname}: {ipaddr}"
    },

    "sway/mode": {
        "format": "<span style=\"italic\"> </span>", // Icon: expand-arrows-alt
        "tooltip": true
    },

    "sway/window": {
        "format": "{}",
        "max-length": 120
    },

    "sway/workspaces": {
        "all-outputs": false,
        "disable-scroll": true,
        "format": "{icon} {name}",
        "format-icons": {
            "1:www": "龜", // Icon: firefox-browser
            "2:mail": "", // Icon: mail
            "3:editor": "", // Icon: code
            "4:terminals": "", // Icon: terminal
            "5:portal": "", // Icon: terminal
            "urgent": "",
            "focused": "",
            "default": ""
        }
    },

// TODO(ljfranklin): readd this
    "pulseaudio": {
        "format": "{volume}% {icon}",
        "format-bluetooth": "{volume}% {icon}",
        "format-muted": "",
        "format-icons": {
            "headphone": "",
            "hands-free": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "default": ["", ""]
        },
        "scroll-step": 1,
        "on-click": "pactl set-sink-mute \"$(pactl info | grep 'Default Sink' | cut -d ' ' -f3)\" toggle",
        "on-click-right": "pavucontrol"
    },

// TODO(ljfranklin): re-add this after https://github.com/swaywm/sway/pull/5161 is fixed
    // "tray": {
    //     "icon-size": 21,
    //     "spacing": 10
    // }

}
